.card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    background-color: aqua;
    padding: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lemonchiffon;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    

}
.card img{
    width: fit-content;
    height: fit-content;
}



@media (max-width:900px){
    .card-list{
        grid-template-columns: repeat(3, 1fr);
    }
}