.search-bar{
    display: flex;
    justify-content: space-around;

    background-color: black;
    height: 11vh;
    max-height: 11vh;
    border: 2px solid yellow;
    border-bottom: none;
    overflow: visible;
    box-sizing: border-box;
}

.filter-group{
    display: flex;
    flex-direction: row;
}

.search-bar input{
    z-index: 100;
    font-size: 2.5vw;
    background-color: black;
    color:white;
    font-family: HotGrill;
    border: 6px solid yellow;
    border-bottom: none;
    text-align: center;
    width: 25vw;
    min-width: 20px;
    height: 70%;
    margin-top: 25px;
}

.search-bar input::placeholder {
    color:yellow;
    font-family: HotGrill;
    font-size: 2.5vw;
    text-align: center;
  }
    

.search-bar select{
    font-size: 1.5vw;
    background-color: crimson;
    padding: 3px;
    font-family: HotGrill;
    text-align-last: center;
    min-width: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 60%;
}

.search-bar select:focus{
    outline: none;
}

.select-cloud{
    
    z-index: 100;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 12vw;
    /* margin-top: 25px; */
}
#sel-1{
    background-image: url('../../img/select1.png');
}
#sel-2{
    background-image: url('../../img/select2.png');
}
#sel-3{
    background-image: url('../../img/select3.png');
}
#sel-4{
    background-image: url('../../img/select4.png');
}

@media (max-width:800px){
    
    .filter-group{
        display: flex;
        flex-direction: column;
    }
    .select-cloud{
        z-index: 100;
        display: flex;
        justify-content: center;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 30vw;
        min-height: 40px;
    }
    .search-bar select{
        font-size: 3vw;
    }
    .search-bar input{
        font-size: 4vw;
    }
    .search-bar input::placeholder{
        font-size: 4vw;
    }

}